textarea {
	resize: none;
	width: 100%;
	height: 40px;
	float: left;
}
select { width: 140px;  height: 45px; }
canvas {
	float: left; 
	border: 1px solid black
}
ul {
	display: block;
	float: left;
}
li {
	list-style-type: disc;
	font-size: 85%;
	display: list-item;
	margin-left: 20px;
}
ul li { list-style-type: disc; }
p {
	font-size: 85%;
	font-weight: bold;
	float: left;
}
.odd 	{ background-color: #e5e5e5; }
.even 	{ background-color: white; }
#headings {
	width: 100%;
	padding: 0 2px 0 3px;
	margin: 5px 0 -5px 0;
	background-image: linear-gradient(bottom, rgb(191,191,191) 23%, rgb(237,237,237) 62%);
	background-image: -o-linear-gradient(bottom, rgb(191,191,191) 23%, rgb(237,237,237) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(191,191,191) 23%, rgb(237,237,237) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(191,191,191) 23%, rgb(237,237,237) 62%);
	background-image: -webkit-gradient(linear, bottom, rgb(191,191,191) 23%, rgb(237,237,237) 62%);
	background-image: -ms-linear-gradient(bottom, from rgb(191,191,191) 23%, to rgb(237,237,237) 62%);
}
#headings div {
	color: black;
	font-size: 100%;
	font-weight: bold;
}
#headings div:first-child {
	width: 330px;
}
#headings div:nth-child(2) {
	width: 42px
}
#headings div:nth-child(3) {
	width: 335px;
}
#headings div:last-child {
	
}
.q_heading {
	float: left;
	clear: both;
	width: 100%;
	padding: 3px;
	padding-right: 2px;
	color: white;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	margin-top: 5px;
	vertical-align: top;
	background-image: linear-gradient(bottom, rgb(41,41,41) 19%, rgb(125,120,125) 60%, rgb(133,128,133) 80%);
	background-image: -o-linear-gradient(bottom, rgb(41,41,41) 19%, rgb(125,120,125) 60%, rgb(133,128,133) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(41,41,41) 19%, rgb(125,120,125) 60%, rgb(133,128,133) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(41,41,41) 19%, rgb(125,120,125) 60%, rgb(133,128,133) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(41,41,41) 19%, rgb(125,120,125) 60%, rgb(133,128,133) 80%);
}
.sectionHeading {
	float: left;
	clear: both;
	width: 100%;
	padding: 3px;
	padding-right: 2px;
	color: white;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	margin-top: 5px;
	vertical-align: top;
	background-image: linear-gradient(bottom, rgb(158,6,6) 37%, rgb(184,22,22) 48%, rgb(224,27,53) 82%);
	background-image: -o-linear-gradient(bottom, rgb(158,6,6) 37%, rgb(184,22,22) 48%, rgb(224,27,53) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(158,6,6) 37%, rgb(184,22,22) 48%, rgb(224,27,53) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(158,6,6) 37%, rgb(184,22,22) 48%, rgb(224,27,53) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(158,6,6) 37%, rgb(184,22,22) 48%, rgb(224,27,53) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.37, rgb(158,6,6)),
		color-stop(0.48, rgb(184,22,22)),
		color-stop(0.82, rgb(224,27,53))
	);
}
.item {
	width: 20px;
	line-height: 14px;
}
.question {
	line-height: 14px;
	width: 50%;
	float: left;
	min-height: 40px;
}
.q_text {
	font-size: 85%;
	float: left;
	width: 297px !important;
	padding: 3px 0 5px 3px;
}
.half-width {
	width: 50%;	
}
.left {
	float: left;
}
#premises_name {
	width: 290px !important;
}
#licence_number {
	width: 85px;
}
.clear {
	clear: both;
	height: 10px;
	margin: 5px 0 5px 0;
}
.small-text {
	font-size: 80%;
}
.chk_header {
	padding-top: 5px;
	vertical-align: bottom;
	height: 20px;
	font-weight: bold;
	text-align: right;
}
.input-label {
	font-size: 120%;
	line-height: 16px;
	vertical-align: center !important;
	width: 179px;
}
#top div label {
	font-size: 120%;
	line-height: 16px;
	vertical-align: center !important;
}
#top input {
	width: 155px;
}
#licence_details_container, #premises_details_container {
	margin-top: 3px;
}
#top div label {
	padding-top: 6px;
}
.heading {
	width: 100%;
	height: 28px;
	line-height: 28px;
	float:left;
	padding-left: 5px;
	margin: 2px 0 5px 0;
	text-shadow: 2px 1px 2px #000000;
        filter: dropshadow(color=#000000, offx=3, offy=2);
    color: white;
	background-image: linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -o-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -moz-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -webkit-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -ms-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
}
