.sender_name {
	font-size:110%;
}
.receiver_name {
	font-size:110%;
}
.radioDiv {
	float:right;
	margin-right:120px;
}
.radioDiv.sml {
	margin-right:40px;
}
.selDiv {
	font-size:110%;
	float:right:
	
}
.selDiv.l {
	float:left;
	margin-left:10px;
}
.selDiv.r {
	float:right;
	margin-right:170px;
}
.sel {
	float:right;
	margin-right:5px;
	background:pink;
}
.inputsml.lft {
		width:245px;;
		float:right;
}
.inputsml.rt {
		width:370px;
		float:right;
}
.inputsml.d {
		width:220px;
		float:right;
}
.inputsml.sb {
		width:170px;
		float:right;
}
.inputsml.st {
		width:120px;
		float:right;
}
.inputsml.tel {
		width:120px;
		float:right;
}
#cell50 {
	font-size:110%;
	width:50%;
	float:left;
}
#cell60 {
	font-size:110%;
	width:60%;
	float:left;
}
#cell40 {
	width:40%;
	font-size:110%;
	float:left;
}
#cell30 {
	width:30%;
	font-size:110%;
	float:left;
}
#consign_div {
	margin-top:10px;
	text-align:center;
	width:80%;
	float:left;
	padding-left:10%;
	padding-right:10%;
	border:1px solid #000;
	background:#e1bfc0;
	border-radius:10px;
}
#not_insured {
	font-weight:bold;
	font-style:italic;
	font-size:110%;
}

#no_approval {
	margin-top:10px;
	text-align:center;
	width:718px;
	float:left;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #000;
	border-radius:10px;
	font-weight:bold;
	font-size:110%;
}
#no_pre {
	font-size:130%;

}
