* {
	font-size: 22px;
}
input[type="text"] {
	margin: 0;
	border: 1px solid black;	
	margin-top: -1px !important;
	display: block;
	float: left;
	height: 28px;
	-webkit-appearance: none;
    border-radius: 0;
    width: 210px;
}
select {
	width: 212px;
	margin: 0;
	border: 1px solid black;	
	display: block;
	float: left;
	height: 29px;
}
#input-cells select {
	border: 0;
	width: 215px !important;
}
#input-cells select:first-of-type {
	border-bottom: 1px solid black;
}
@media only screen and (device-width: 768px) {
  select {
  	height: 28px;
  }
  #input-cells input[type="text"] { height: 57px !important; }
}
.cell-border {
	padding: 0;
	margin-left: -4px !important;
	display: block;
	float: left;
}
.cell-header {
	float: left; 
	border-top: 1px solid black; 
	border-right: 1px solid black; 
	border-bottom: 1px solid black;	
}
.cell-header p {
	font-size: 80%;
}
.cell-input { height: 59px !important; }
label {
	float: left;
	width: 140px;
	line-height: 28px;
	padding-right: 3px;
}

.row {
	display: block;
	clear: both;
	width: 100%;
}
.row input:first-of-type {
	margin-right: 5px;
	margin-bottom: 3px;
}
.left {
	float: left;
}
.warning {
	border: 1px solid red !important;	
}
.error-text {
	vertical-align: middle;
	line-height: 34px;
	color: red;
	font-weight: bold;
}
/* FORM */
form {
	  
}

form .inputs {
	display: table;
  border-collapse: collapse;
	border: 1px solid #DCDCDC;
}

.cell > p {
	font-size: 110%;
	font-weight: normal;
}

form .cell {
	display: table-cell; 
	vertical-align: middle;
	border: 1px solid #DCDCDC;
	border-left: 0;
	padding: 5px;
}
.text-center {
	text-align: center;
}
.table input[type="text"] {
	padding-left: 0;
	float: none;
	border: 0;
}
.row { 
	display: table-row; 
	background-color:#F6F6F6;
}
.alt {
	background-color: #F6F6F6;
}

.submit-button {
	background: none;
	border: 0;
	background: url('../images/ios-submit.jpg') no-repeat;
	width: 255px;
	height: 84px;
	color: white;	
}
.clear-button {
	background: none;
	border: 0;
	background: url('../images/clear.jpg') no-repeat;
	width: 122px;
	height: 84px;
	color: white;	
}
.button-text {
  margin-left: -9999px;
}
.sigOpen {
	background: none;
	border: 0;
	background: url('../images/sign-small.jpg') no-repeat;
	width: 67px;
	height: 46px;
	color: white;	
}