.txtarea {
	width:95%;
 	font-size:110%;	
}
.sel {
   font-size:110%;
   background:pink;
   margin-left:5px;  
   float:left;
}

.lab {
   float:left;
	font-size:110%;
	width:100px;
	height:32px;
	line-height:32px;
}
.lab.wd {
	width:120px ! important;
}
.lab.sml {
	width:60px;
}

.input {
	float:left;
	font-size:115%;
	margin-left:5px;
	height:32px;
}
.input.driver {
   width:350px;   
}
.input.sml {
	width:110px;
}
.input.tiny {
	width:80px;
}
.input.num {
	width:70px;
}
.input.time {
	width:110px;
}
.input.addr {
   width:350px;   
}
.inputComment {
	font-size:105%;
	margin-left:15px;
	margin-top:5px;

}
#cell33 {
   font-size:110%;
   width:33.33%;
   float:left;
  /* height:36px;  */
}
#cellLeft {
   font-size:110%;
   width:45%;
   float:left;
   height:36px;
}
#cellRight {
   font-size:110%;
   width:55%;
   float:left;
   height:36px;
}
.cell60 {
   width:60%;
   float:left;
	height:40px ! important;
}
.cell40 {
   width:40%;
   float:left;
	height:40px ! important;
}
.cell70 {
   width:70%;
   float:left;
	height:40px ! important;
}
.cell30 {
   width:30%;
   float:left;
	height:40px ! important;
}
.cell50 {
   font-size:110%;
   width:50%;
   float:left;
	height:40px;
}
.numDiv {
	text-align:center;
	font-size:110%;
	float:left;
	height:32px;
	line-height:32px;
	width:40px;
	/*border-right:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;  */
}
.numDiv.H {
	border-top:1px solid #000;
	height:32px;
}
.photoDiv {
	text-align:right;
	padding-right:10px;
	font-size:110%;
	float:left;
	width:200px;
	height:36px;
	line-height:32px;
/*	border-right:1px solid #000;
	border-bottom:1px solid #000;  */
}
.photoDiv.H {
	border-top:1px solid #000;
	height:24px;
}
.quanDiv{
	text-align:center;
	font-size:110%;
	float:left;
	width:73px;
	height:32px;
	line-height:32px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.quanDiv.L {
	border-left:1px solid #000;
}
.quanDiv.H{
	border-top:1px solid #000;
	height:24px;
}
.quanDiv.LH {
	border-left:1px solid #000;
	border-top:1px solid #000;
	height:24px;
}
#lineload {
	float:left;
	text-align:center;
	border:none;
	padding:none;
	margin:none;
	height:32px;
	line-height:32px;
	width:24px;
	font-size:110%;
}
.photoInput {
	border:1px solid #000;
	float:left;
	padding-left:10px;
	margin:none;
	width:195px;
	height:32px;
	font-size:120%;
}
.input.num.no,.input.sml.no {
	border:none;
	padding:none;
	margin:none;
	height:30px;
	width:67px;
}

