* {
	margin:0;
	padding:0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:16px;
}
#side a, #side a:link, #side a:visited {
	font-size:120%;
	background:#e15b60;
	text-align:center;
	display:block;
	text-decoration:none;
	color:black;
	width:258px;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 15px 10px 12px rgba(0,0,0,0.05); */
	border: 1px solid #000;  
	border-top: 0 !important;
	padding: 5px;
	height: 45px;
	vertical-align: middle;
	line-height: 50px;
}
p {
	line-height:1.4em;
}
p + p {
	text-indent:2em;
}
body {
	font-size:100%;
	text-align:center;
	background:#e1d1d1;
}
.addButton {
   margin:5px;
   padding:5px;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
   font-size:120%;
   background:#e15b60;
   border-radius:10px;
}
.rego {
	background:pink;
	width:110px;
}
.autocomplete div,.autocomplete-right div {
   padding:2px 5px;
   white-space:nowrap;
   overflow:hidden;
   font-size:24px;
}
.autocomplete {
   border:1px solid #e15b60;
   border-radius:10px;
   background:#FFF;
   cursor:default;
   text-align:left;
   max-height:350px;
   overflow:scroll;
}   
.autocomplete-right {
   border:1px solid #e15b60;
   border-radius:10px;
   background:#FFF;
   cursor:default;
   text-align:left;
   max-height:350px;
   overflow:scroll;
	position:relative;
	margin:0px 0px 0px -125px;
}
.autocomplete strong,.autocomplete-right strong {
   font-weight:bold;
   font-size:24px;
   color:#e15b60;
}
.r {
	float:right;
	padding:0 0 10px 20px;
}
.red {
   margin-left:20px;
   color:red;
   font-size:100%;
}
.small {
   font-size:80%;
}
.nameDiv {
   font-size:110%;
   float:left;
   width:125px;
   height:36px;
}
.nameDiv.r {
   margin-left:20px;
}
.nameDiv.W {
	width:170px;
}

.button {
   font-size:120%;
   margin-top:10px;
   padding:10px;
   border-radius:10px;
   background:#e15b60;
   text-align:center;
}
.checkRight {
	float:right;
	margin-right:10px;
}
.checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 2px solid #000;  
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.checkbox:active, .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked {
    background-color: #e9ecee;
    border: 2px solid #adb8c0;  
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
	
.big-checkbox {
    padding: 15px;
}
 
.big-checkbox:checked:after {
    font-size: 36px;
	 top:-10px;
    left: 3px;
}
.radio {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); 
    padding: 9px;
    border-radius: 50px;
   /* display: inline-block; */
    position: relative;
}
 
.radio:checked:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); 
    left: 3px;
    font-size: 32px;
}
 
.radio:checked {
    background-color: #e9ecee; 
    /*color: #99a1a7; */
	 color:#e15b60;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1); 
}
 
.radio:active, .radio:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.big-radio {
    padding: 16px;
}
 
.big-radio:checked:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}


p.error {
  display: block;
  padding: 0.4em;
  background-color: #f33;
  color: #fff;
  font-weight: bold;
  font-size:120%;
}


.sig {
	margin-top:5px;	
}
.sigWrapper {
	padding:0;
  	float:left;
	height:140px;
  	width:490px;
  	border-radius:5px;
}

.sigWrapper.current {
  border-color: #000;
}
.sigPad {
  margin: 0;
  padding: 0;
}

.clearDiv {
   font-size:100%;   
	float:left;
	line-height:140px;
	width:48px;
	color:#000;
	border:none;
	background-color: #000;
}
.clearDiv a,
.clearDiv a:link,
.clearDiv a:visited {
	height:20px;
	padding:5px 0 5px 0;
	border:none;
	border-radius:0;
  	display: inline;
  	margin: 0;
	color:black;
}

/*label {
	font-size:120%;
	margin-left:5px;
}  */
.lab.wd {
   float:left;
	font-size:120%;
	width:150px ! important;
}

.input {
	font-size:120%;
	margin-left:5px;
	height:40px;
}
.input.driver {
   width:250px;   
}
.input.sml {
	width:110px;
}
.input.num {
	width:110px;
}
.input.time {
	width:110px;
}
.inputRight {
   margin-top:12px;	
   font-size:100%;   
	float:right;
}
.inputComment {
	font-size:105%;
	margin-left:15px;
	margin-top:5px;

}

.notifier {
   font-size:1.1em;
   margin-top:10px;
   padding:5px;
  	border:2px solid #e15b60;
   border-radius:10px;
	background:#e18b8e;

}
.address_line {
	width:100%;
	text-align:left;
}
.address_line.left {
	width:40%;
	text-align:left;
	float:left;
}
.address_line.right {
	width:60%;
	text-align:left;
	float:right;
}
.header_text  {
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		line-height:100%;
		text-align:center;
		width:360px;
		height:105px;
		font-size:120%;
}
.header_span {
		font-size:100%;
		color:red;
}
/* common to both  */
.heading {
   width: 100%;
   height: 28px;
   line-height: 28px;
   float:left;
   padding-left: 5px;
   margin: 2px 0 5px 0;
   text-shadow: 2px 1px 2px #000000;
        filter: dropshadow(color=#000000, offx=3, offy=2);
    color: white;
   background-image: linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
   background-image: -o-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
   background-image: -moz-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
   background-image: -webkit-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
   background-image: -ms-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
}

#cell33 {
   font-size:110%;
   width:33.33%;
   float:left;
  /* height:36px;  */
}
#cellLeft {
   font-size:110%;
   width:45%;
   float:left;
   height:36px;
}
#cellRight {
   font-size:110%;
   width:55%;
   float:left;
   height:36px;
}
.cell60 {
   width:60%;
   float:left;
	height:50px ! important;
}
.cell40 {
   width:40%;
   float:left;
	height:50px ! important;
}

#header_logo {
 	float:left;
	padding:0px;
	width:160px;
	margin-left:10px;
}
#header_address {
 	float:right;
	width:190px;
	margin-right:50px;
	text-align:left;
}
#tDate {
	float:right;
	margin-right:10px;
}
#tCellfirst {
	text-align:left;
   margin-top:0px;
	float:left;
	width:135px;
	height:25px;
/*	border:1px solid #000;  */
}
#tCellfirst1 {
	text-align:left;
	float:left;
	width:205px;
	height:25px;
	/*border:1px solid #000;   */
}
#tCell {
	float:left;
	text-align:left;
	/*padding-left:10px; */ 
	margin-left:25px;
   margin-top:5px;
	width:113px;
	height:25px;
	/*border:1px solid #000;   */
}
#tCellBig {
	float:left;
	text-align:left;
	width:365px;
	height:25px;
/*	border:1px solid #000;  */ 
}
#tCellRadio {
	float:left;
	text-align:left;
	width:168px;
	height:25px;
/*	border:1px solid #000;   */

}
#tCellsml {
	text-align:left;
	float:left;
	margin-left:2px;
   margin-top:0px;
	width:110px;
	height:25px;
/*	border:1px solid #000; */ 
}
#fullwidth {
 	float:left;	
	padding-top:5px;
	background-color:#e1242b;
	width:100%;
	height:25px;
}
#fullwidthr {
 	float:left;	
	padding-top:5px;
	background-color:#e1242b;
	width:100%;
	height:25px;
}
#fulltext {
	padding-left:5px;
	font-size:120%;
	color:white;
}
#fullarea {
   margin-top:3px;
	width:740px;
	font-size:1.1em;
	padding-top:5px;
	padding-left:5px;
}
#fulltextdiv {
	text-align:left;
	width:99%;
}
#sign {
	/* width:100%; */
	/* float:left; */
}
#recGoods {
	font-weight:bold;
	font-style:italic;
	line-height:32px;
	padding-left:50px;
	width:100%;
}
#sign_name  {
	font-size:110%;
	margin-top:10px;
	width:100%;
   float:left;
	height:36px;
}

#div_sign_date {
   font-size:120%; 
	float:left;
	width:197px;
	height:50px;
	line-height:50px;

}
#sign_date {
	margin-top:5px;
	float:left;
	padding-left:10px;
	width:197px;
	height:140px;
}


#submit_div {
   font-size:120%; 
	height:90px;
 	float:left;
 	width:190px;
}

/* Landscape mode (default) */
.header_title_div {
	float:left;
	height:110px;
	width:595px;
	font-size:150%;
}
#wrap {
	margin:0 auto;
	width:1024px;
	position:relative;
	overflow:hidden;
	text-align:left;
	background:#fff;
}
#header {
	float:left; 
	width:1024px;
	padding:10px 0px 0px 0px;
/*	background:#f5f4fc; */
	background:#fff; 
	border-bottom:1px solid #000;
}
#header h1 {
	padding:10px 30px 0 30px;
}
#header p {
	padding:0 30px;
	line-height:1.4em;
}
#content {
	float:left;
	width:1024px;
	background:#e18b8e;
	position:relative;
	left:768px;
}
#main {
	float:left;
	width:748px;
	position:relative;
	right:758px;
	padding-top:5px;
}
#backImg {
   width: 748px;
   height: 185px;
	background-image: url("http://corbets.devel.ntd.com.au/images/bg_body.png");  
	margin-top:95px;
}
#main_login {
	margin-top:130px;
	padding-top:30px;
	width:300px;
	margin-left:auto;
	margin-right:auto; 
	min-height:230px;
	height:auto !important;
	height:230px;
	border:1px solid #000;
	border-radius:10px;
}
#login_submit {
	width:216px;
   margin-left:auto;
   margin-right:auto;
	margin-bottom:20px;
}
#side {
	float:right;
	width:216px;
	position:relative;
	right:788px;
	padding-bottom:10px;
}

.sigPad {
  margin: 0;
  padding: 0;
  width: 758px;
  float:left;
}

#sidea,
#sideb {
/*	border-bottom:1px solid #000; */
	clear:left;
	float:left;
	width:216px;
	min-height:170px;
	height:auto !important;
	height:170px;
}
#sidec {
	position:relative;
	clear:left; 
	float:left; 
	width:216px;
	min-height:170px;
	height:auto !important;
	height:170px;
}
#footer {
	clear:both;
	float:left;
	width:1024px;
	min-height:60px;
	height:auto !important;
	height:60px;
	border-top:1px solid #000;
	background:#e15b60;
	border-bottom:1px solid #000;
}
#footer p {
	padding:20px 30px;
}

@media only screen and (orientation:portrait){
	/* portrait mode */
	#header {
		padding:10px 0px 0px 0px;
		float:left;
		width:768px;
		background:#fff;
   	border-bottom:1px solid #000;
	}
.header_title_div {
	float:left;
	height:110px;
	width:350px;
	font-size:130%;
}
	#wrap {
		width:768px;
	}
	#footer {
		clear:both;
   	float:left;
		width:768px;
		min-height:60px;
		height:auto !important;
		height:60px;
		border-top:1px solid #000;
   	background:#e15b60;
   	border-bottom:1px solid #000;

	}
	#content {
	   /*min-height:964px;
      height:auto !important;
      height:964px;  */
		margin:0px;
		padding:0px;
		left:0;
		background:#fff;
	}
	#main_login {
		margin-top:130px;
		padding-top:30px;
		width:300px;
		margin-left:auto;
		margin-right:auto;
		min-height:230px;
		height:auto !important;
		height:230px;
		border:1px solid #000;
		border-radius:10px;
	}
	#login_submit {
		width:216px;
   	margin-left:auto;
   	margin-right:auto;
		margin-bottom:20px;
	}
	#main {
		float:left;
		width:748px;
	   min-height:600px;
      height:auto !important;
      height:600px;
		position:relative;
		right:0;
		padding-left:10px;
		padding-right:10px;
		background:#fff;
	}
	#side {
		clear:left;
		float:left;
		width:768px;
		right:0;
		padding-bottom:10px;
		background:#e18b8e;
	}
	.sigPad {
	  margin: 0;
	  padding-left: 8px;
	  float:left;
	  width:768px;
	}
	#sidea {
		clear:none;
		width:216px;
		min-height:170px;
		height:auto !important;
		height:170px;
		float:left;
		position:relative;
		left:30px;
		padding-top:20px;
/*		border-bottom:1px solid #000;  */

	}
	#sideb {
		clear:none;
		width:216px;
		min-height:170px;
		height:auto !important;
		height:170px;
		float:left;
		position:relative;
		left:60px;
		padding-top:20px;
	}
	#sidec {
		clear:none;
		width:216px;
		min-height:170px;
		height:auto !important;
		height:170px;
		float:right;
		position:relative;
		right:30px;
		padding-top:20px;
	}
#backImg {
   width: 748px;
   height: 185px;
	background-image: url("http://corbets.devel.ntd.com.au/images/bg_body.png");  
	margin-top:125px;
}
