label {
	float: left;
	width: 140px;
	line-height: 18px;
	padding-right: 3px;
	font-size: 115%;
}

.row {
	display: block;
	clear: both;
	width: 100%;
	line-height: 32px;
}

.row input[type="text"]:first-of-type {	
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	margin: 0;
	border: 1px solid black;
	margin-top: -1px !important;
	display: block;
	float: left;
	height: 44px !important;
	-webkit-appearance: none;
	border-radius: 0;
	width: 210px;
}

select {
	height: 44px !important;
}

textarea {
	margin: 0;
	resize: none;
	border: 1px solid black;
	background-image: -webkit-linear-gradient(top, #F0F0F0, #fff);
}

.left {
	float: left;
}

.right {
	float: right;
}

.warning {
	border: 1px solid red !important;	
}
.error-text {
	vertical-align: middle;
	line-height: 34px;
	color: red;
	font-weight: bold;
}

.heading {
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding-left: 5px;
	margin: 2px 0 5px 0;
	text-shadow: 2px 1px 2px #000000;
        filter: dropshadow(color=#000000, offx=3, offy=2);
    color: white;
	background-image: linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -o-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -moz-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -webkit-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);
	background-image: -ms-linear-gradient(bottom, rgb(209,11,11) 34%, rgb(194,4,4) 30%, rgb(163,0,0) 89%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(209,11,11)),
		color-stop(0.3, rgb(194,4,4)),
		color-stop(0.89, rgb(163,0,0))
	);
	clear: both;
	float: none;
}

input[type="file"] {
	height: 30px;
}

.box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.bold {
	font-weight: bold;
}

.clear {
	clear: left;
}

.no-pad {
	margin: 0;
	padding: 0;
}

button.clean-grey {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 150px;
}