.client{
	font-size:1em;
	width:162px;
	float:left;
}
.client.line1 {
	background:#e18b8e;
}
.client.line2 {
	background:#e1bfc0;
}
.from{
	font-size:1em;
	width:140px;
	float:left;
}
.from.line1 {
	height:60px;
	line-height:20px;
	background:#e18b8e;
}
.from.line2 {
	height:60px;
	line-height:20px;
	background:#e1bfc0;
}
.desc {
	font-size:1em;
	width:194px;
	float:left;
}
.desc.line1 {
	height:60px;
	line-height:20px;
	background:#e18b8e;
}
.desc.line2 {
	height:60px;
	line-height:20px;
	background:#e1bfc0;
}
.mrego {
	font-size:1em;
	width:80px;
	float:left;
}
.mrego.line1 {
	height:60px;
	line-height:20px;
	background:#e18b8e;
}
.mrego.line2 {
	height:60px;
	line-height:20px;
	background:#e1bfc0;
}
a.aline, a.aline:link, a.aline:visited {
	font-size:1em;
   background:none;
   text-align:left;
   display:inline;
   text-decoration:none;
   margin:0px;
   border:none;
   padding:0px;
}


