html {
	font-size:100%;
	width:1800px;
}
body {
	background:#e8e8f3;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	position: relative;
	cursor: auto;
	
}
input[type="checkbox"] {	
	float:left;
}
hr {
	float:left;
	width:100%;
	height:1px;
	border-top:1px solid #000;
	margin-top:0px;
}
span.tooltip {
      position: absolute;  
      width: 350px;
      height: 55px;
      line-height: 15px;
      padding: 2px 5px 5px 5px;
      font-size: 14px;
      text-align: center;
      color:#000000;
      background:#ffffff ;
      border: 4px solid #ffffff;
      border-radius: 10px;
      text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
      box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px 0px;
}
span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 15px;
      border-style: solid;
      border-color: #ffffff transparent transparent transparent;
      top: 64px;
      left: 170px;
}
div {
	text-align:left;
}
a.lnk {
   color:#ffffff;
}
#main_login {
   margin-top:8rem;
   padding-top:0.5rem;
   width:18%;
   /*height:25%;  */
   margin-left:auto;
   margin-right:auto;
   border:1px solid #000;
}
#login_submit {
   margin-left:auto;
   margin-right:auto;
	width:50%;
}
.delete {
   float:right;
   height:30px;
   line-height:2px;
   display:block;
   font-size:200%;
   padding:0px 5px 8px 5px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   background: #ff0000;  /* default color of menu button */
   width:28px;
}

.autocomplete div {
   padding:2px 5px;
   white-space:nowrap;
   overflow:hidden;
   font-size:20px;
}
.autocomplete {
   border:1px solid #000;
   background:#FFF;
   cursor:default;
   text-align:left;
   max-height:350px;
   overflow:scroll;
}
.autocomplete strong {
   font-weight:bold;
   font-size:20px;
   color:#007095;
}

.oversize {
	width:130%;
}
.date {
	text-align:center;
}
.div1 {
	width:1%;
	float:left;
}
.div2 {
	width:2%;
	float:left;
}
.div3 {
	width:3%;
	float:left;
}
.div4 {
	width:4%;
	float:left;
}
.div5 {
	width:5%;
	float:left;
}
.div6 {
	width:6%;
	float:left;
}
.div7 {
	width:6.25%;
	float:left;
}
.div700 {
	width:7%;
	float:left;
}
.div750 {
	width:7.5%;
	float:left;
}
.div9 {
	width:9%;
	float:left;
}
.div8 {
	width:8%;
	float:left;
}
.div825 {
	width:8.25%;
	float:left;
}
.div10 {
	width:10%;
	float:left;
}
.div11 {
	width:11%;
	float:left;
}
.div12 {
	width:12%;
	float:left;
}
.div13 {
	width:13%;
	float:left;
}
.div135 {
	width:13.5%;
	float:left;
}
.div125 {
	width:12.5%;
	float:left;
}
.div1260 {
	width:12.60%;
	float:left;
}
.div18 {
	width:18%;
	float:left;
}
.div185 {
	width:18.5%;
	float:left;
}
.div16 {
	width:16%;
	float:left;
}
.div165 {
	width:16.5%;
	float:left;
}
.div17 {
	width:17%;
	float:left;
}
.div175 {
	width:17.5%;
	float:left;
}
.div14 {
	width:14%;
	float:left;
}
.div145 {
	width:14.5%;
	float:left;
}
.div15 {
	width:15%;
	float:left;
}
.div19 {
	width:19%;
	float:left;
}
.div39 {
	width:39%;
	float:left;
}
.div40 {
	width:40%;
	float:left;
}
.div43 {
	width:43%;
	float:left;
}
.div44 {
	width:45%;
	float:left;
}
.div26 {
	width:26%;
	float:left;
}
.div245 {
	width:24.25%;
	float:left;
}
.div27 {
	width:27%;
	float:left;
}
.div28 {
	width:28.5%;
	float:left;
}
.div29 {
	width:29%;
	float:left;
}
.div30 {
	width:30%;
	float:left;
}
.div31 {
	width:31.5%;
	float:left;
}
.div32 {
	width:32%;
	float:left;
}
.div325 {
	width:32.5%;
	float:left;
}
.div33 {
	width:33.33%;
	float:left;
}
.div34 {
	width:34.25%;
	float:left;
}
.div35 {
	width:35%;
	float:left;
}
.div355 {
	width:35.5%;
	float:left;
}
.div36 {
	width:36.2%;
	float:left;
}
.div195 {
	width:19.75%;
	float:left;
}
.div20 {
	width:20%;
	float:left;
}
.div21 {
	width:21%;
	float:left;
}
.div22 {
	width:22%;
	float:left;
}
.div235 {
	width:23.25%;
	float:left;
}
.div23 {
	width:23%;
	float:left;
}
.div24 {
	width:24%;
	float:left;
}
.div25 {
	width:25%;
	float:left;
}
.div255 {
	width:25.4%;
	float:left;
}
.div46 {
	width:46%;
	float:left;
}
.div37 {
	width:37.25%;
	float:left;
}
.div48 {
	width:48%;
	float:left;
}
.div49 {
	width:49%;
	float:left;
}
.div42 {
	width:42.5%;
	float:left;
}
.div44 {
	width:44%;
	float:left;
}
.div50 {
	width:50%;
	float:left;
}
.div51 {
	width:50.25%;
	float:left;
}
.div53 {
	width:53%;
	float:left;
}
.div54 {
	width:54.35%;
	float:left;
}
.div55 {
	width:55%;
	float:left;
}
.div56 {
	width:56%;
	float:left;
}
.div60 {
	width:60%;
	float:left;
}
.div63 {
	width:63%;
	float:left;
}
.div65 {
	width:65%;
	float:left;
}
.div69 {
	width:69%;
	float:left;
}
.div70 {
	width:70%;
	float:left;
}
.div73 {
	width:73%;
	float:left;
}
.div75 {
	width:75%;
	float:left;
}
.div80 {
	width:79%;
	float:left;
}
.div87 {
	width:87%;
	float:left;
}
.div826 {
	width:82.6%;
	float:left;
}
.div83 {
	width:83%;
	float:left;
}
.div84 {
	width:84%;
	float:left;
}
.div92 {
	width:92%;
	float:left;
}
.div91 {
	width:91%;
	float:left;
}
.div93 {
	width:93%;
	float:left;
}
.div94 {
	width:94%;
	float:left;
}
.div95 {
	width:100%;
	float:left;
}
.div98 {
	width:97.75%;
	float:left;
}
.div90 {
	width:89%;
	float:left;
}
.div100 {
	width:100%;
	text-align:center;
	margin:auto; 
}
.email_div {
	border:1px groove #000000;
	padding:0rem 0.2rem; 0.2rem 0.1rem;
	font-size:0.875rem;
	height:auto;
	line-height:1.05rem;
	min-height:3.2rem;
}
.divbdr {
	display:none;
	width:99.9%;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	padding:0.1rem 0 0.1rem 0;
}
.div200 {
	width:200px !important;
	float:left;
}
.txt {
	float:left;
	width:99%;
	height:4rem;
	font-size:0.9rem;
}
.txtlong {
	float:left;
	width:100%;
	height:16rem;
	font-size:0.9rem;
}
.txtnotes {
	float:left;
	width:100%;
	height:11.25rem;
	font-size:0.9rem;
}
.txtreason {
	width:100%;
	height:2rem;
	margin:0 0 0 -0.1rem;
	padding:0;
}
.header_title_div {
	float:left;
	height:110px;
	width:1420px;
	font-size:150%;
}
.line1 {
   background:#e6e6e6
}
.line2 {
/*   background:#e1c9c9; */
   background:#ffffff;
}
.disback {
	background:#d2d2d2;
}
.email {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	width:250px;
	border-left:1px solid #000;
   text-align:left;
	font-size:0.875rem;
}
.email.wd {
	width:293px;
}
.email.narr {
	width:240px;
}
.ptype {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	width:180px;
	border-left:1px solid #000;
   text-align:left;
	font-size:0.875rem;
}
.ptype.wd {
	width:192px;
}
.cli {
	font-size:0.875rem;
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	width:200px;
	border-left:1px solid #000;
   text-align:left;
   vertical-align:middle;

}
.cli.wd {
	width:215px;
}
.cli.wider {
	width:230px;
}
.times {
	font-size:0.875rem;
	height:2.3125rem;
	line-height:20px;
	padding-left:3px;
	float:left;
	width:97px;
	border-left:1px solid #000;
}
.weight {
	font-size:0.875rem;
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	width:81px;
	padding-left:3px;
	border-left:1px solid #000;
	text-align:center;
}
.usr {
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:125px;
   text-align:left;
	font-size:0.875rem;
}
.usr.grav {
	width:179px;
}
.usr.narr {
	width:115px;
}
.usr.wd {
	width:145px;
}
.workscope {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	border-left:1px solid #000;
	padding-left:3px;
	width:330px;
	float:left;
	text-align:left;
	font-size:0.875rem;
}
.workscope.narr {
	width:320px;
}
.workscope.micro {
	width:310px;
}
.well {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	border-left:1px solid #000;
	padding-left:3px;
	width:450px;
	float:left;
	text-align:left;
	font-size:0.875rem;
}
.well.wd {
	width:770px;
}
.well.wide {
	width:709px;
}
.comments {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	border-left:1px solid #000;
	padding-left:3px;
	width:370px;
	float:left;
	text-align:left;
	font-size:0.875rem;
}
.addr {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	border-left:1px solid #000;
	padding-left:3px;
	width:290px;
	float:left;
	text-align:left;
	font-size:0.875rem;
}
.addr.narr {
	width:255px;
}
.time {
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:85px;
   text-align:center;
	font-size:0.875rem;
}
.rate {
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:73px;
   text-align:center;
	font-size:0.875rem;
}
.rate.narr {
	width:63px;
}
.rate.micro {
	width:50px;
}
.fone {
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:100px;
	font-size:0.875rem;
}
.fone.wd {
	width:110px;
}
.area {
	height:2.3125rem;
	word-wrap:break-word;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:407px;
	font-size:0.875rem;
}
.vehicle {
	height:2.3125rem;
	word-wrap:break-word;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:155px;
	font-size:0.875rem;
}
.location {
	height:2.3125rem;
	word-wrap:break-word;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:762px;
	font-size:0.875rem;
}
.location.narr {
	width:700px;
}
.crew {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	padding-left:3px;
	float:left;
	border-left:1px solid #000;
	width:175px;
   text-align:left;
	font-size:0.875rem;
}
.subscope {
	word-wrap:break-word;
	height:2.3125rem;
	line-height:1.16rem;
	padding-left:3px;
	float:left;
	border-left:1px solid #000;
	width:1029.5px;
   text-align:left;
	font-size:0.875rem;
}
.contact { 
	height:2.3125rem;
	line-height:1.16rem;
	float:left;
	padding-left:3px;
	border-left:1px solid #000;
	width:170px;
   text-align:left;
	font-size:0.875rem;
}
.operator {
   line-height:1.16rem;
	height:2.3125rem;
   float:left;
	padding-left:3px;
   border-left:1px solid #000;
   width:601px;
   text-align:left;
	font-size:0.875rem;
}
.approv { 
	height:2.3125rem;
	float:left;
	width:165px;
	border-left:1px solid #000;
	font-size:0.875rem;
}
.links { 
	height:2.3125rem;
	float:left;
	width:150px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	font-size:0.875rem;
}
a.linkbutton {
   margin-left:0.3rem;
   margin-top:0.0rem;
   margin-bottom:0.1rem;
   color: white;
   text-align:center;
   padding:0.0rem 0.1rem 0rem 0.2rem;  
   font-size: 0.7rem;
   text-decoration: none;
   background: #007095;  /* default color of menu button */
   float:left;
	min-width:37px !important;
}
a.linkbutton.margt3 {
	margin-top:0.25rem;
}
a.linkbutton.list {
	min-width:85px !important;
	margin-top:0.2rem;
}
a.linkbutton.listwide {
	min-width:95px !important;
	margin-top:0.2rem;
}
a.linkbutton.mt2 {
	margin-top:0.2rem;
}
button.linkbutton {
	min-width:37px !important;
	margin-left:0.3rem;
   margin-top:0.0rem;
   margin-bottom:0;
   color: white;
   text-align:center;
    padding:0.15rem 0.05rem 0.15rem  0.05rem;
   font-size: 0.7rem;
   text-decoration: none;
   background: #007095;  /* default color of menu button */
   float:left;
	display:block;
}

button.linkbutton.wd {
	min-width:48px !important;
}

a.linkbutton.grn {
	background:#5d775d;
	min-width:35px !important;
}
a.linkbutton.oran {
	background:#ba841f;
}
a.linkbutton.purp {
   background: #a4208a;  /* default color of menu button */
	min-width:34px !important;
}
a.linkbutton.t2 {
   width:32px !important;  /* default color of menu button */
   min-width:32px !important;  /* default color of menu button */
}
.bckred,.linkbutton.bckred {
   background:#ca2020;
}
.heading {
	width:100%;
	height:24px;
	background: #9d9191;  /* default color of menu button */
	color:white;
}
#fullalpha {
	width:100%;
	height:30px;
	float:left;
	margin-bottom:10px;
}
.alpha {
	color:#000;
	font-weight:bold;
/* 	padding:2px; */
	border:1px solid #000;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-decoration: none;
   width:30px;
	display:block;
   height:30px;
	line-height:30px;
	float:left;
	margin-left:10px;
	text-align:center;
}
.alpha.all {
   width:40px;
	margin-left:20px;

}
a.alpha.hilite,a.alpha.all.hilite {
   background:#000;
   color:#fff;
}
#wrap {

}
#header {
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: relative;
	margin-bottom: 0px;
	width:100%;
}
#header h1 {
	padding:10px 30px 0 30px;
}
#header p {
	padding:0 30px;
	line-height:1.4em;
}
#content {
}
.main {
	float:left;
	width:1775px;
	position:relative;
	min-height:630px;  
	height:auto !important;
	height:630px;
   background: #f9f9f6;
   border: 1px solid #ddd;
   margin: 0px 0px 0px 25px;
   padding:0;
}
#backImg {
   width: 749px;
   height: 342px;
	background-image: url('/images/image002.jpg');  
	margin-top:120px;
	margin-left:auto;
	margin-right:auto;
}
.address_line {
	width:100%;
	text-align:left;
}
.address_line.left {
	width:40%;
	text-align:left;
	float:left;
}
.address_line.right {
	width:60%;
	text-align:left;
	float:right;
}
#header_logo {
 	float:left;
	padding: 0 0.4rem 0 0.4rem;
	min-width:100px;
	max-width:200px;
	height:45px;
   /*background: #f9f9f6;  */
   /*background: #333333; */
	background:#e8e8f3;
	/*color:#ffffff;  */
	font-size:0.8125rem;
	text-align:center;
}
#header_address {
 	float:right;
	width:190px;
	margin-right:10px;
	text-align:left;
}
.menu-option a{
	 word-wrap: break-word;
    width: 135px;
    color: white;
    text-decoration: none;
    z-index:100;
	 display:inline-block;
    position:relative;
	 margin-right:5px;

}  
.menu-option li,li {
	 word-wrap: break-word;
    width: 147px !important;
    padding:none;
	 line-height:1.4062rem;
	 height:2.8125rem; 
    position:relative;
	 display:inline-block;
	 overflow:visible;
}
#footer {
	clear:both;
	float:left;
	width:100%;
	min-height:60px;
	height:auto !important;
}
#footer p {
	padding:20px 30px;
}
.unitdiv {
	float:left;
	width:185px !important;
}
.totals {
	float:left;
	width:15%;
	text-align:left;
	display:inline;
}
.signature {
	float:left;
	height:175px;
	width:300px;
	background:#ffffff;
}
.coodiv {
	float:left;
	color:#ff0000;
	font-weight:bold;
	font-size:85%;
	text-align:left;
	width:817px;
	height:24px;
	line-height:22px;

}
.sort {
	background:#008cba;
}
.bdb {
	border-bottom:1px solid #000;
}
.nomarg {
	margin-left:0px;
}
.gry {
	color:#777777;
}
.loww {
	height:24px;
	line-height:22px;
}
.hd {
	height:24px;
	line-height:24px;
	margin:0;
	/*font-size:0.9rem;  */
	font-size:90%;
	text-align:center;
}
.oran,.linkbutton.oran {
	background:#e1b500;
}
.bckred,.linkbutton.bckred {
	background:#ca2020;
}
.orang,.linkbutton.orang {
		background: #e98c00; 
}
.required.highlight,.highlight ,input[type="text"].highlight{
	   border-style:solid;
	   border-width:2px;
	   border-color:red;
}
.highlight_red {
	background:red;
}
.red {
	color:#ff0000;
}
.txtr {
	text-align:right;
	padding-right:6px;
}
.cntr{
	text-align:center;
}
.pad {
	padding:2.5px;
}
.padr {
	padding-right:6px;
}
.padb {
   padding-bottom:0.2rem;
}
.padl {
	padding-left:0.6rem;
}
button.linkbutton.emailed {
   background: #007095;  /* default color of menu button */
	padding:0.15rem 0.2rem 0.175rem 0.25rem;
	font-size:0.7rem;
	background:#60854e;
}
button.linkbutton.toemail {
	background:#ba841f;
	padding:0.15rem 0.1rem 0.175rem 0.25rem;
	font-size:0.7rem;
	min-width:42px !important;
}
.marg {
	margin-left:5%;
}
.marg05rem {
	margin-left:0.5rem;
}
.marg1 {
	float:left;
	margin-left:1%;
}
.marg2 {
	margin-left:2%;
}
.marg6 {
	margin-left:6%;
}
.marg3 {
	margin-left:3%;
}
.marg4 {
	margin-left:4%;
}
.marg25{
	margin-left:5.25%;
}
.marg55{
	margin-left:5.5%;
}
.marg15 {
	margin-left:1.5%;
}
.margt5 ,button.linkbutton.margt5{
	margin-top:0.5rem;
	display:block;
}
.marg9{
	margin-left:9.5%;
}
.marg10 {
	margin-left:10%;
}
.marg7 {
	margin-left:7.0%;
}
.marg8 {
	margin-left:8.0%;
}
.marg75 {
	margin-left:7.5%;
}
.marg6 {
	margin-left:6.25%;
}
.marg675 {
	margin-left:6.5%;
}
.marg11 {
	margin-left:11%;
}
.marg12 {
	margin-left:12%;
}
.margt4 {
	margin-top:0.4rem;
}
.margt1 {
	margin-top:1rem;
}
.margpad {
	margin-top:0.5rem;
	margin-left:0.5rem;
	display:block;
}
.bold {
	font-weight:bold;
}
.bdr {
	border-right:1px solid #000000;
}
.tabdiv {
   float:left;
   width:100%;
   display:table;
   table-layout:fixed;
   border-bottom:1px solid #dddddd;
}
.highh {
   word-wrap:normal;
   word-break:normal;
   float:none;    
   display:table-cell;
   vertical-align:middle;
}
input.higher,.higher {
	height:2.75rem;
}
.fupload {
	border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;

}
.nopad {
	padding:0;
}
.bdrl {
       border-left:1px solid #000000;
}
.padtop {
	padding-top:0.3rem;
	padding-bottom:0.3rem;
	height:32px;
	line-height:32px;
}
.padnone {
	padding:0 0.3rem 0 0;
	
}
.sml {
	font-size:0.9rem;
}
.lte {
    background-color:#f5f5f5;   
}
.gry {
   background-color:#dddddd;
}
.txta {
	height:4.75rem;
}
.heading.redd,.redd {
	background:#ed2a58;
}
.txtmulti {
	height:11.15rem;
}
.multi {
	height:13.15rem;
}
button.grn, .button.grn,.grn {
	background:#60854e;
}
button.approve.red, .button.approve.red {
	background:#d4454c ;
	color:#ffffff;
}
.blck {
	color:#000000;
}
input[type="text"][disabled].mainback {
	background:#f9f9f6;
}
span.spanpad {
	float:left;
	display:block;
	padding:0.3rem 0.8rem;
}
span.marg {
	width:100px;
	text-align:right;
	display:inline-block;
	/*padding:0.3rem 0.8rem; */
}
span.approve {
	height:1.7rem; 
	min-width:59px;
	display:inline-block; 
}
span.reject {
	height:1.7rem; 
	min-width:45px;
	display:inline-block;
}
.rejj {
	margin-top:0.3rem;

}
.ui-tooltip {
	padding:0rem 0.2rem 0rem;
	border-radius:0.1rem;
	font-size:0.875rem;
	font-weight:normal;
	box-shadow: 0 0 0.05rem black;
   width: 365px !important;
   max-width: 365px !important;
}
.ui-tooltip-content {
	font-size:0.875rem;
	font-weight:normal;
    width: 365px !important;
    max-width: 365px !important;
}
.show-option {
   color: #007095;
	background:#ffffff;
}  
.est {
	margin-left:5px;
	font-size:0.875rem;
	text-align:right;
	width:65px !important;
	display:inline-block;
}
.padzero {
	padding:0;
}
.blu {

	background: #008cba;
}
.workscope.wbdr,.cli.wbdr,.time.wbdr,.times.wbdr,.vehicle.wbdr,.email.wbdr,.links.wbdr,.ptype.wbdr,.crew.wbdr,.contact.wbdr,.usr.wbdr,.weight.wbdr,.approv.wbdr {
	border-color:#999999;
	background:#555555;
}
.apprspan {
	font-size:0.875rem;
	margin-left:10px;
	
}
.totdiv {
	border-bottom:1px solid #000000;
	font-weight:bold;
}
button.button.superin.emailed,button.button.emailed {
	background:#60854e;
}
.smll {
	font-size:0.875rem;
}
.empname {
   float:right;
}
.empname:before {
   content:none;
}

