.linkbutton.delatw {
	padding:0.4rem;
	background:#ca2020;
	margin-top:0.5rem;

}
.linkdiv {
	text-align:center;
	text-decoration:none;
    float: left;
    min-width: 800px;
    display: block;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    height: 32px;
	 background: #007095; 
	 color:#ffffff;
    line-height: 32px;
    margin-bottom: 3px;
}
.div5.subatw {
	height:32px;
	line-height:32px;

}
