173,176d172
< .div13 {
< 	width:13%;
< 	float:left;
< }
309,312d304
< .div48 {
< 	width:48%;
< 	float:left;
< }
365,366c357,358
< .div87 {
< 	width:87%;
---
> .div86 {
> 	width:86%;
444c436
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
455c447
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
461c453
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
475c467
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
484c476
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
501c493
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
515c507
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
526c518
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
540c532
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
551c543
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
561c553
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
571c563
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
580c572
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
590c582
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
600c592
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
610c602
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
621c613
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
632c624
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
642c634
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
652c644
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
659c651
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
667c659
< 	font-size:0.875rem;
---
> 	font-size:0.775rem;
671c663
<    margin-top:0.0rem;
---
>    margin-top:0.2rem;
680,681d671
< 	min-width:35px !important;
< 
685c675
< 	min-width:37px !important;
---
> 	min-width:40px !important;
687c677
<    margin-top:0.0rem;
---
>    margin-top:0.2rem;
691c681
<    padding:0.15rem 0.2rem 0.15rem 0.2rem;
---
>    padding:0.2rem 0.3rem 0.2rem 0.3rem;
696d685
< 	display:block;
708d696
< 	min-width:34px !important;
967,968c955,956
< 	padding:0.15rem 0.2rem 0.175rem 0.25rem;
< 	font-size:0.7rem;
---
> 	padding:0.3rem 0.25rem 0.2rem 0.25em;
> 	font-size:0.75rem;
972,973c960,961
< 	padding:0.15rem 0.1rem 0.175rem 0.25rem;
< 	font-size:0.7rem;
---
> 	padding:0.3rem 0.25rem 0.2rem 0.25rem;
> 	font-size:0.75rem;
1110,1115d1097
< span.marg {
< 	width:100px;
< 	text-align:right;
< 	display:inline-block;
< 	/*padding:0.3rem 0.8rem; */
< }
