.menu-option a{
    color: white;
    text-decoration: none;
	 line-height:12px;
	 height:24px;
	 z-index:100;
    position:relative;

}
.menu-option li {
	 padding:none;
	 display:block;
    position:relative;
}
.menu-root li {
    width: 160px;
    height: 24px;
    padding: 10px;
}
.menu-parent {
	 z-index:100;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: -10px;
    margin-top: 10px;
    position: absolute;
    background:#f1b496;
    color: white;

    font-family:arial, sans-serif;
    font-size:16px;
    font-weight: bold;
    line-height:24px;
}
.menu-root {
    margin: 0px;
    width: 100%;
    background: -moz-linear-gradient(top, #f1793d 0%, #f1b496 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1793d), color-stop(100%,#f1b496)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1793d 0%,#f1b496 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1793d 0%,#f1b496 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1793d 0%,#f1b496 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f1793d 0%,#f1b496 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1793d', endColorstr='#f1b496',GradientType=0 ); /* IE6-9 */
}
.menu-root > .menu-option {
    display: block;
    float: left;
}
/*li.menu-option {
	padding-top:0px;
}  */
.menu-option:hover {
    background: #f1793d;
}
.menu-root > .menu-option:hover {
    background: #f15100;
}
